body {
    font-family: sans-serif;
    background-color: black;
}


footer{
    background-color: black;
}


nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.nav-link{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 15px;
    border-radius: 0px;
    
    border: 1px solid gray;
    letter-spacing: 1px;
    padding: 15px 25px 15px 25px;
}
.nav-link:hover{
    color: grey;
}
.head1{
    display: flex;
    justify-content: center;
}
.logo{
    height: 100%;
    width: 100%;

}
.logo1{
    height: 30%;
    width: 30%;
}
.head{
    display: flex;
    justify-content: flex-start;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;   
}
.txt1{
    font-family: "FreeMono", monospace;
    color: white;
    max-width: 650px;
    margin:0px 20px 0px 20px ;
}
.photo1{
    height: 100%;
    width: 100%;
}
.photo2ga{
    height: 50%;
    width: 50%;
}
.photo2gi{
    height: 50%;
    width: 50%;
}
.photo2dm{
    height: 50%;
    width: 50%;
}
.photo2jo{
    height: 50%;
    width: 50%;
}
.photo2pi{
    height: 50%;
    width: 50%;
}
.photo2lm{
    height: 50%;
    width: 50%;
}









.photo4dp{
    height: 30%;
    width: 30%;
}
.photo3{
    height: 100%;
    width: 100%;
    filter: brightness(190%);
}
.anchor{
    height: 10%;
    width: 10%;
}
.nav-link{
    text-decoration: none;
    color: white;
    background-color: black;


    

}

.txt2{

    position: relative;
    bottom: 200px;
    left: 100px;

    font-family: "FreeMono", monospace;
    color: white;
    max-width: 650px;
    margin:0px 20px 0px 20px ;
    text-align: center;
    box-align: center;

}
.lg1{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}








.photo2ga:hover{
    
    display: block;
    content: url("https://vk.com/doc508301583_635473130?hash=jYBNEZckEwSYSkrZnz3NhKqY1e6rxVZiO8jvw5jVn8w&dl=inb7uvxuMF8ZhZCVS0NGA909xDPUzacrdINzR9ZBgKT&wnd=1&module=profile&mp4=1");
    
}
.photo2gi:hover{
    
    display: block;
    content: url("https://vk.com/doc508301583_635473627?hash=rRviNHyo8ZP0pMA17JYDTQ1WTFSk62XOEKZLKJXeOak&dl=yJ9VRbxvJwh4HR981GPvq0L8iVW4t1oWGngcBZzdLpP&wnd=1");
    
}
.photo2dm:hover{
    
    display: block;
    content: url("https://vk.com/doc508301583_635473642?hash=3HQJEgvgSH8pU8wEPBvpaxJ3tZmP04ZWNNtjSnEd8bs&dl=PxdUwhYeG9GxFHUm6qZM5gZSjMUR8ZTVTXe0mtGZJFP&wnd=1");
    
}
.photo2jo:hover{
    
    display: block;
    content: url("https://vk.com/doc508301583_635473647?hash=yJ0QeU5QEDiQ7VOCbRb2ybiS2NURTrgr18psyPjS3YX&dl=hAxbbXGeV8VuYbZFf23RzJrzulXML07sWJQnunYTQkP&wnd=1");
    
}
.photo2pi:hover{
    
    display: block;
    content: url("https://vk.com/doc508301583_635473654?hash=i89Y7gpmzCfiHXGjqKtaN2FuDxh3i0eMov3XmDJZBzo&dl=oSw3ZbZtWBDhWnXlaYopC4oLrYVanAmNxS6XTTSs1nH&wnd=1");
    
}
.photo4dp:hover{
    
    display: block;
    content: url("https://vk.com/doc508301583_635473631?hash=2O5cuuQ90RGVSKqt3A9qpySBrht3MWNZhmeTGf2ahKo&dl=piZV1KnTv4i4eJS74zZmFdy3HyIOGBXX3WdPhr5BcXz&wnd=1");
    width: 50%;
    height: 50%;
}
.photo2lm:hover{
    
    display: block;
    content: url("https://vk.com/doc508301583_635473638?hash=X0py30rZ1nzETNQ9M9VBgCZmz91FERlqzpzyAmTejHg&dl=knJVzoHGdw5PiH7l24UyQNM7rlSZFxRaIjp0tZzWsPz&wnd=1");
    
}








summary:hover + #detail, #detail:hover {
    display: block;
}

.one{
    background-image: url("https://images.ctfassets.net/rporu91m20dc/6vWTTNCt0qxcmIALTIobY8/df5a93434321f5f6910592b7b4000aca/prey-m-hero-960.jpg?q=70&q=70&fm=webp") ;
    height: auto;
    width: auto;
}
.PREY{
    display: flex;
    justify-content:center;
    position: relative;
    top: 250px;
}
.prey11{
    height: 30%;
    width: 30%;
}
.preymoon1{
    height: 30%;
    width: 30%;
}
.video{
    position: relative;
    bottom: 120px;
}
.main games{


}
.anchorr{
    

}
.prey1{
    display: flex ;
    justify-content: space-around;
}
