body {
    font-family: sans-serif;
    background-color: black;
}


footer{
    background-color: black;
}


nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.nav-link{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 15px;
    border-radius: 0px;
    
    border: 1px solid gray;
    letter-spacing: 1px;
    padding: 15px 25px 15px 25px;
}
.nav-link:hover{
    color: grey;
}
.head1{
    display: flex;
    justify-content: center;
}
.logo{
    height: 100%;
    width: 100%;

}
.logo1{
    height: 30%;
    width: 30%;
}
.head{
    display: flex;
    justify-content: flex-start;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;   
}
.txt1{
    font-family: "FreeMono", monospace;
    color: white;
    max-width: 650px;
    margin:0px 20px 0px 20px ;
}
.photo1{
    height: 100%;
    width: 100%;
}
.photo2{
    height: 50%;
    width: 50%;
}
.photo3{
    height: 100%;
    width: 100%;
    filter: brightness(190%);
}

.txt2{
    

    position: relative;
    bottom: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    font-family: "FreeMono", monospace;
    color: white;
    max-width: 650px;

    text-align: center;


}
.lg1{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}








.pppp:hover{
    
    display: block;
    content: url("https://99px.ru/sstorage/86/2017/05/11905171952114891.gif");
    

}

summary:hover + #detail, #detail:hover {
    display: block;
}

.one{
    background-image: url("https://images.ctfassets.net/rporu91m20dc/6vWTTNCt0qxcmIALTIobY8/df5a93434321f5f6910592b7b4000aca/prey-m-hero-960.jpg?q=70&q=70&fm=webp") ;
    height: auto;
    width: auto;
}
.PREY{
    display: flex;
    justify-content:center;
    position: relative;
    top: 250px;
}
.prey11{
    height: 30%;
    width: 30%;
}
.preymoon1{
    height: 30%;
    width: 30%;
}
.video{
    position: relative;
    bottom: 120px;
}
.main games{


}
.prey1{
    display: flex ;
    justify-content: space-around;
}
.container{
    position: relative;
    width: 100%;
    height: 100hv;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;

}
.bubbles span{
    position: relative;
    width: 15px;
    height: 15px;
    background: #4fc3dc;
    margin: 0.4px;

    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,0 0 50px#4fc3dc,0 0 100px #4fc3dc;
    animation: animate 25s linear infinite;
    animation-duration: calc(155s/var(--i));
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,0 0 50px#ff2d75,0 0 100px #ff2d75;
}
@keyframes animate{
    0%{
        transform: translateY(300vh)scale(0);
        
    }
    100%{
        transform: translateY(-10vh)scale(1);
    }
}
